DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=hh_be 

JWT_SECRET_KEY=jwtSecretKey
JWT_TOKEN_EXPIRY=1d

PORT=3000

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_uSERNAME=9faf480e2cc720
EMAIL_PASSWORD=51761b5bb987fa

RESET_TOKEN_STRING=HEHEHEHEH 
ENCRYPTION_PASSWORD=password
ENCRYPTION_SALT=Nacl
ENCRYPTION_IV=plainkchdbsgrhdi  

FRONTEND_LINK=http://localhost:3001/reset-token